<div class="Canvas">
	<div id="Arriba">
		<!--div class="Canvas-col Canvas-Cuore"-->
		<div class="Canvas-cell Canvas-experiencia">
			<span class="Canvas-titulo">¿Qué experiencia quiero crear?</span>
			<a href="#/experiencia">
				<img alt="Experiencia del alumo" src="/img/canvas/experiencia.svg"/>
			</a>
		</div>
		<!--/div-->
		<div class="Canvas-cell Canvas-col Canvas-objetivos">
			<span>Objetivos</span>
			<a href="#/objetivos">
				<img alt="Los objetivos" src="/img/canvas/objetivos.svg" ng-click=""/>
			</a>
		</div>
		<div class="Canvas-cell Canvas-col Canvas-disparadores">
			<div>Disparadores de la atención</div>
			<a href="#/disparadores">
				<img alt="Disparadores de la atención" src="/img/canvas/disparadores.svg"/>
			</a>
		</div>
		<div class="Canvas-cell Canvas-comportamientos">
			<div>Comportamientos</div>
			<a href="#/comportamientos">
				<img alt="Comportamientos" src="/img/canvas/comportamientos.svg"/>
			</a>
		</div>
	</div>
	<div>
		<div class="Canvas-cell Canvas-row Canvas-motivadores">
			<div>Motivadores</div>
			<a href="#/motivadores" class="Canvas-mazoContenedor" ng-click="canvas.activaMazo('motivadores')">
				<img alt="Motivadores" src="/img/canvas/motivadores.svg"/>
			</a>
		</div>
		<div class="Canvas-cell Canvas-row Canvas-mecanicas">
			<div>Mecánicas de juego</div>
			<a href="#/mecanicas" class="Canvas-mazoContenedor" ng-click="canvas.activaMazo('mecanicas')">
				<img alt="Mecánicas de juego" src="/img/canvas/mecanicas.svg"/>
			</a>
		</div>
		<div id="Abajo" class="Canvas-cell Canvas-row Canvas-componentes">
			<div>Componentes de juego</div>
			<a href="#/componentes" class="Canvas-mazoContenedor">
				<img alt="Componentes de juego" src="/img/canvas/componentes.svg"/>
			</a>
		</div>
	</div>
</div>