.Canvas-cell
	padding 0
	margin 0
	border .3em solid black
	border-radius .5em
	img, span 
		display block
		margin-left auto
		margin-right auto
	img
		width 125px
		height 125px
.Canvas-row
	width 100%
	height 30%
.Canvas-col 
	height 340px
	img
		position relative
		top 50px
.Canvas-contador
	color black
	text-align center
	position absolute
	right 0
	bottom 0
	margin 0 2em .5em 0 !important
	font-weight normal
.Canvas
	background-color black
	border .8em solid black !important
	border-radius 1em
	box-shadow sombra 
	font-family "Muli", "Helvetica Neue", Arial
	font-weight bold
	margin 1em 2em 0 1em
.Canvas-experiencia
	background red !important
	display inline-block
	width 35%
	min-height 185px !important
.Canvas-titulo
	display inline-block
	overflow hidden
	text-align center
	top 0
.Canvas-text
	display inline-block
	//width 49% !important
	width 125px
	height 115px
	margin-top 2px
	background rgba(255,0,0,0.3)
	span
		width 80%
		font-weight bold
.Canvas-objetivos
	background #D98BB1
	display inline-block
	float left
	min-width 130px
	vertical-align top
	width 32%
.Canvas-disparadores
	position relative
	background-color #F9A95E
	display inline-block
	float right
	min-width 130px
	vertical-align top
	width 32%
	.Canvas-contador
		display inline-block
		text-align center
		position absolute
		bottom 0
.Canvas-comportamientos
	min-width 35%
	background #F9C85E
	display inline-block
.Canvas-motivadores
	position relative
	display block
	background-color #F06162
.Canvas-mecanicas
	position relative
	display block
	background-color #81C990
.Canvas-componentes
	position relative
	display block
	background-color #80A5C7

@media screen and (max-width: 800px)
	.Canvas
		margin .5em .5em 0 .2em
	.Canvas-col
		height 300px
	.Canvas-experiencia
	.Canvas-comportamientos
		width 100%
	.Canvas-objetivos
		width 50% !important
	.Canvas-disparadores
		width 50% !important
@media screen and (max-width: 480px)
	.Canvas-col
		height auto
		img
			top 0
	.Canvas-objetivos
		width 100% !important
	.Canvas-disparadores
		width 100% !important
