.Canvas-cell
	padding 0
	margin 0
	border .3em solid black
	border-radius .5em
	img, span 
		display block
		margin-left auto
		margin-right auto
.Canvas-row
	width 100%
	height 30%
.Canvas-col 
	height 280px
.Canvas
	background-color black
	border .8em solid black !important
	border-radius 1em
	box-shadow sombra 
	font-family "Muli", "Helvetica Neue", Arial
	font-weight bold
	margin 1em 2em 0 1em
	#CanvasSup
		margin-left 0
		.Objetivos
			background #D98BB1
			display inline-block
			float left
			min-width 130px
			vertical-align top
			width 32%
		.Canvas-Cuore
			display inline-block
			min-width 35%
			text-aling center
			.Experiencia
				background #F9C85E
				display block
				.Canvas-titulo
					display inline-block
					overflow hidden
					text-align center
					top 0
					width 200px
				.Canvas-alumno
					display block
				.Canvas-text
					display inline-block
					//width 49% !important
					width 125px
					height 115px
					margin-top 2px
					background rgba(255,0,0,0.3)
					span
						font-weight bold
			.Comportamientos
				background #F9C85E
				display block
		.Disparadores
			display inline-block
			float right
			background-color #F9A95E
			vertical-align top
			min-width 130px
			width 32%
.Canvas-motivadores
	display block
	background-color #F06162
.Canvas-mecanicas
	display block
	background-color #81C990
.Canvas-componentes
	display block
	background-color #80A5C7

@media screen and (max-width: 700px)
	.Canvas
		.Canvas-Cuore
			width 100%
		.Objetivos
			width 50% !important
		.Disparadores
			width 50% !important
@media screen and (max-width: 480px)
	.Canvas
		.Objetivos
			width 100% !important
		.Canvas-Cuore
			width 100%
		.Disparadores
			width 100% !important
