<div class="Canvas">
	<div id="CanvasSup">
		<div class="Canvas-col Canvas-Cuore">
			<div class="Canvas-cell Experiencia">
				<div class="Canvas-titulo">¿Qué experiencia quiero crear?</div>
				<a href="#/experiencia" class="Canvas-mazoContenedor">
					<img class="Canvas-alumno" alt="70x70" src="/img/icons/70.svg"/>
				</a>
			</div>
			<div class="Canvas-cell Comportamientos">
				<div>Comportamientos</div>
				<a href="#/comportamientos" class="Canvas-mazoContenedor">
					<img class="Canvas-mazo" alt="125x125" src="/img/icons/125.svg"/>
				</a>
			</div>
		</div>
		<div class="Canvas-cell Canvas-col Disparadores">
			<div>Disparadores de la atención</div>
			<a href="#/disparadores" class="Canvas-mazoContenedor">
				<img class="Canvas-mazo" alt="125x125" src="/img/icons/125.svg"/>
			</a>
		</div>
		<div class="Canvas-cell Canvas-col Objetivos">
			<span>Objetivos</span>
			<a href="#/objetivos" class="Canvas-mazoContenedor">
				<img class="Canvas-mazo" alt="125x125" src="/img/icons/125.svg" ng-click=""/>
			</a>
		</div>
	</div>
	<div id="CanvasInf">
		<div class="Canvas-cell Canvas-row Motivadores">
			<div>Motivadores</div>
			<a href="#/motivadores" class="Canvas-mazoContenedor" ng-click="canvas.activaMazo('motivadores')">
				<img class="Canvas-mazo" alt="125x125" src="/img/icons/125.svg"/>
			</a>
		</div>
		<div class="Canvas-cell Canvas-row Mecanicas">
			<div>Mecánicas</div>
			<a href="#/mecanicas" class="Canvas-mazoContenedor" ng-click="canvas.activaMazo('mecanicas')">
				<img class="Canvas-mazo" alt="125x125" src="/img/icons/125.svg"/>
			</a>
		</div>
		<div class="Canvas-cell Canvas-row Componentes">
			<div>Componentes</div>
			<a href="#/componentes" class="Canvas-mazoContenedor">
				<img class="Canvas-mazo" alt="125x125" src="/img/icons/125.svg"/>
			</a>
		</div>
	</div>
</div>