ancho=125px
fuente = 'Indie flower', Arial
.Comportamientos-contenedor
	position relative
	//background-color #E0EEFD
	width 100%
	min-height 350px
.Comportamientos-lista
	margin-left .5em
.Comportamientos-item
	display inline-block !important
	padding 4px 0 4px 0 !important

.Comportamientos-intro
	text-align left
	margin 50px auto 0 auto

.Comportamientos-icon
	float left
	width ancho
	height ancho
	margin .5em 0 1em .2em
.Comportamientos-texto
	background-color #27513F
	border .5em solid #8A6D4D
	box-shadow sombra
	color white
	display inline-block
	font-family fuente
	left 50%
	min-width 250px
	position relative
	transform translateX(-50%)
	width 80%
	div
		margin 1em 0 0 1em
		display inline-block
	ul
		display block
		padding-left 2em
	li
		list-style-type none
	.u-destacado
		font-weight bold
		text-decoration underline
