.Comportamientos-contenedor
	//background-color #E0EEFD
	width 100%
.Comportamientos-lista
	margin-left .5em
.Comportamientos-item
	display inline-block !important
	padding 4px 0 4px 0 !important

.Comportamientos-intro
	text-align left
	margin 1em auto

.Comportamientos-icon
	@extends .u-icon
	float left
	height 10em
	margin .5em 0 1em .2em
.Comportamientos-texto
	background-color #27513F
	border .5em solid #8A6D4D
	box-shadow 0 2px 5px rgba(secondary-color-dark,0.5)
	color white
	display inline-block
	font-family fuente-extra
	left 50%
	min-width 250px
	position relative
	transform translateX(-50%)
	width 95%
	div
		margin 1em 0 0 1em
		display inline
	ul
		display block
		padding-left 2em
	li
		list-style-type none
		margin-left 1em
	.u-destacado
		font-weight bold
		text-decoration underline

@media screen and (max-width: 600px)  {
	.Comportamientos-icon {
		display none
	}
}