.Comportamientos-contenedor
	//background-color #E0EEFD
	width 100%
	min-height 350px
	//.Comportamientos-titulo
	.Comportamientos-lista
		margin-left .5em
		.Comportamientos-item
			display inline-block !important
			padding 4px 0 4px 0 !important
