.ViewContainer
	background-color #BAD7DF
	display block
	font-size 16px
	min-height 100%
	margin 0
	padding 60px 0 0 0
	position absolute
	text-align center
	width 100%
	font-family Muli, 'Helvetica Neue', Helvetica, Arial, sans-serif
	left 0
	top 0
	
.ViewContainer.Componentes
	background-color #FFE89D
.ViewContainer.Comportamientos
	background-color #E0EEFD
.ViewContainer.Disparadores
	background-color #60ACB7
.ViewContainer.Experiencia
	background-color #CDB0E5
.ViewContainer.Mecanicas
	background-color #D5E8EC
.ViewContainer.Motivadores
	background-color #A6E9A6
.ViewContainer.Objetivos
	background-color #FDFBFF
@css {
	.ViewContainer {
		background-image: url("/img/icons/fondo.png");
		
	}
}
