.ViewContainer
	display block
	font-size 16px
	min-height 100%
	margin 0
	padding 0 0 0 60px
	position absolute
	text-align center
	width 100%
	font-family Muli, 'Helvetica Neue', Helvetica, Arial, sans-serif

.ViewContainer.Componentes
	background-color #E0EEFD
.ViewContainer.Comportamientos
	background-color #E0EEFD
.ViewContainer.Disparadores
	background-color #60ACB7
.ViewContainer.Experiencia
	background-color #CDB0E5
.ViewContainer.Mecanicas
	background-color #D5E8EC
.ViewContainer.Motivadores
	background-color #A6E9A6
.ViewContainer.Objetivos
	background-color #FDFBFF
@css {
	.ViewContainer {
		background-image: url("/img/icons/nubes.png");
	}
}
