.ViewContainer
	background-color secondary-color-light
	display block
	font-family fuente-normal
	font-size 16px
	left 0
	margin 0
	min-height 100%
	padding 60px 0 0 0
	position absolute
	text-align center
	top 0
	width 100%
	animation slidein-container .3s ease-in
/*
.ViewContainer.Componentes
	background-color #FFE89D
.ViewContainer.Comportamientos
	background-color #F1849B
.ViewContainer.Disparadores
	background-color #60ACB7
.ViewContainer.Experiencia
	background-color #CDB0E5
.ViewContainer.Mecanicas
	background-color #D5E8EC
.ViewContainer.Motivadores
	background-color #A6E9A6
.ViewContainer.Objetivos
	background-color #6EA8AD
*/
@keyframes slidein-container {
  from {
    left 100%
  }

  to {
    left 0
  }
}
