arriba = 20%
.MsgModal-container
	background rgba(0,0,0,.5)
	box-shadow 0 2px 5px rgba(#000,0.5)
	display block
	font-family fuente-normal
	height 100%
	left 0
	position fixed
	text-align center
	top 0
	width 100%
	z-index 99

.MsgModal
	animation caida 0.3s linear
	background white
	display inline-block
	left 30%
	padding 0 0
	position absolute
	top arriba
	width 40%
	ul
		display inline-block
		margin-top 2em
		padding 0
		width 100%
		li
			display inline-block
.MsgModal-close
	@extends .u-fadein
	@extends .u-button
	border none
	color text-color !important
	font-size 24px
	height 2em
	line-height 2em
	outline none
	position absolute
	padding 1px .25em
	right 0
	text-align center
	top 0
	margin .2em .2em 0 0
	width 2em
.MsgModal-msg
	margin-top 4em
	width 100%
.MsgModal-btn
	border-radius .3em
	color white
	display block
	height 2em
	line-height 1em
	padding .5em
	text-decoration none
	
li.u-danger
	a.MsgModal-btn.u-button
		@extends .u-button.u-danger
li.u-success
	a.MsgModal-btn.u-button
		@extends .u-button.u-success

@media screen and (max-width: 600px) {
  .MsgModal {
  	width 80%
  	left 10%
  }
}


@keyframes caida {
  from { 
  	top 0 
  }
  to { 
  	top arriba 
  }
}
