.SelectorMotivadores
	position absolute
	display block
	top 0
	left 60px
	right 0
	bottom 0
	z-index 1
	background rgba(0,0,0,0.7)
	//	overflow auto
	// overflow-y scroll
	.Motivadores-titulo
		display block
	.Motivadores-item
		display inline-block
		padding 4px 1px !important
		img
			.u-lg
				width 250px
			.u-sm
				width 125px

.Motivadores-nuevo
	background rgba(0,0,0,0.5) !important
