.u-button
//	position relative
	padding 0
	box-shadow 0 2px 5px rgba(secondary-color-shadow,0.26)
	&:active
		transform translateY(1px)
	&:hover
		cursor pointer
		box-shadow 0 2px 10px rgba(secondary-color-shadow,0.5)
	&.u-success
		background success-color
		&[disabled]
			background success-color-dark
			color success-color-light !important
	&.u-success:hover
		background success-color-light
	&.u-warning
		background warning-dark
	&.u-warning:hover
		background warning-light
	&.u-danger
		background danger-dark
	&.u-danger:hover	
		background danger-light
	&.u-info
		background info-dark
	&.u-info:hover
		background info-light
	&.u-primary
		background primary-dark
	&.u-primary:hover
		background primary-light
	&.u-switch
		border-radius 24px
		border 4px
		border-style solid
		height 48px
		width 96px
		color white
		img
			position absolute
			bottom -1px
			height 44px !important
			width 44px !important
		&.u-on
			background success-color
			border-color success-color-shadow
			&:after
				content "Sí"
				margin-left 2em
			&:hover
				background success-color-light
			img
				animation toOff .5s
				left 0
		&.u-off
			background danger-dark
			border-color danger-shadow
			&:before
				content "No"
				margin-right 2em
			&:hover
				background danger-light
			img
				left 48px
				animation toOn .5s