.u-button
//	position relative
	padding 0
	box-shadow 0 2px 5px rgba(#000,0.5)
	transition all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
	overflow hidden
	position relative
	//transition all .4s
	&:active
		transform translateY(1px)
	&:hover
		cursor pointer
		box-shadow 0 2px 5px rgba(#000,0.2)
	&.u-success
		background success-color
		&[disabled]
			background success-color-dark
			color success-color-light !important
		&:hover
			background success-color-light
	&.u-warning
		background warning-dark
		&:hover
			background warning-light
	&.u-danger
		background color-danger-dark
		&:hover	
			background color-danger-light
	&.u-info
		background info-color-dark
		&:hover
			background info-color-light
	&.u-primary
		background primary-color
		&:hover
			background primary-color-light
	&.u-transparent
		box-shadow none
		background transparent
		&:hover
			background rgba(#fff,.26)
	&.u-default
		color text-color
		background transparent
		&:hover
			background rgba(#fff,.26)
.u-button.u-raised
	height 2em
	line-height 2em
	text-align center
	width 2em

.lk-ink
	display block
	position absolute
	background white
	border-radius 100%
	transform scale(0)
	z-indez 999
	&.animate 
		animation ripple 0.65s linear

@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(1.5);}
}
