.Componentes-contenedor
	margin-left 1em
	text-align center
.Componentes-item
	padding 4px 0 4px 0 !important
	color #80A5C7
	.Carta
		background #80a5c7
	.Carta-interior
		background #cee9f3 !important
.Componentes-titulo 
	color #178B17
	
