componente-color=#80a5c7
.Componentes-contenedor
	margin-left 1em
	text-align center
.Componentes-item
	padding 4px 0 4px 0 !important
	color u-mas-brillo(componente-color, -40%)// #2a547b
	.Carta
		carta-color(componente-color)
		&:hover
			carta-color(u-mas-brillo(componente-color,10%))
