// btnCarta.styl
.BtnCarta
	position absolute
	background-color red !important
	width w=30px
	height w
	top (250px-(w)+ (-2px))
	left (250px-(w)+ (-2px))
	&.u-sm 
		top (125-32-2)px
		left (205-30-2)px
	&.BtnCarta-incl
		background blue
		background-image url("/img/icons/check.svg")
	&.BtnCarta-excl
		background grey
		background-image url("/img/icons/cross.svg")
	