ancho = alto-menu

.Menu
	background rgba(#fff,.7)
	display block
	height alto-menu
	left 0
	margin 0
	padding 0
	position fixed
	right 0
	top 0
	z-index 8
	font-size 24px
	box-shadow 0 2px 5px rgba(0,0,0,0.26)
.Menu-item
	float left
	display inline
	height 2em
	width 2em
	text-align center
	z-index 10
button.fa
	background none
	border none
	color color-txt-menu
	outline none
	padding 1px .25em
	&:hover
		cursor pointer
	&:active
		border 0
	&.u-left
		text-align left
		float left
		margin 8px 0 0 12px
	&.u-right
		text-align right
		float right
		margin 8px 12px 0 0
	&:before
		margin-right 8px
.Menu-logo
	-webkit-transition 1s
	float right
	top 0
	height ancho
	width ancho
	z-index 10
	&:hover
		cursor pointer
		-webkit-transform rotate(360deg)			
		
.Menu-textoLogo
	color white
	left ancho
	margin-left 1em
	overflow hidden
	position absolute
	top (ancho/2)
	width (ancho*2)

.Menu-icon
	margin-top 5px
	height 45px
	width 45px
	

.Menu-text
	color color-txt-menu
	display none
	margin-left 1em
	overflow hidden
	position absolute
	top 50%
	transform translateY(-50%)
	width (ancho*2)
/*
@media screen and (orientation: landscape)
	.Menu-portrait
		display none !important

@media screen and (orientation: portrait)
	.Menu-landscape
		display none !important
*/