ancho = alto-menu
sombra-menu = 0 2px 5px rgba(primary-color-dark,0.26)
sombra-extra-menu = 0 3px 6px rgba(0,0,0,0.6)
color-menu= primary-color
color-txt-menu= white
color-txt-menu-dark = u-mas-brillo(color-txt-menu,-20%)
margenes =  .7em
u-left()
	float left
	margin .2em 0 0 .2em

u-right()
	float right
	margin .2em .2em 0 0

.Menu
	background color-menu//rgba(#fff,.7)
	box-shadow 0 2px 10px rgba(#000,0.26)
	display block
	font-family fuente-titulos
	font-size 24px
	height alto-menu
	left 0
	margin 0
	padding 0
	position fixed
	right 0
	top 0
	z-index 8
.Menu-item
	display inline
	float left
	height 2em
	text-align center
	width 2em
	z-index 10

button.fa
	@extends .u-button
	@extends .u-raised
	@extends .u-fadein
	border none
	color color-txt-menu-dark
	outline none
	padding 1px .25em
	text-align center
	text-shadow 0 1px 1px rgba(#000,.7)
	z-index 100
	&.fa-navicon
		@extends .u-button.u-transparent
		u-left()
		text-align center
	&.fa-pencil
		@extends .u-button.u-transparent
		u-right()
		&.u-selected
			@extends .u-button.u-success
			color color-txt-menu
	&.fa-arrow-right
		@extends .u-button.u-transparent
		u-right()
		&.u-selected
			text-align center
	&:hover 
		color color-txt-menu
	&:active
		border 0
