arriba = 20%
.Dialog-container
	background rgba(#999,.05)
	display block
	font-family fuente-normal
	height 100%
	left 0
	position fixed
	text-align center
	top 0
	width 100%
	z-index 99

.Dialog
	animation caida 0.3s linear
	background white
	box-shadow 3px 20px 20px rgba(#666,0.5)
	display inline-block
	left 30%
	padding 0 0
	position absolute
	top arriba
	width 40%
	ul
		display inline-block
		margin-top 2em
		padding 0
		width 100%
		li
			display inline-block
.Dialog-close
	@extends .u-fadein
	@extends .u-button
	border none
	color text-color !important
	font-size 24px
	height 2em
	line-height 2em
	outline none
	position absolute
	padding 1px .25em
	right 0
	text-align center
	top 0
	margin .2em .2em 0 0
	width 2em
.Dialog-msg
	margin-top 2em
	width 100%
.Dialog-btn
	border-radius .3em
	color white
	display block
	height 2em
	line-height 1em
	margin-left .5em
	padding .5em
	text-decoration none
	
li.u-danger
	a.Dialog-btn.u-button
		@extends .u-button.u-danger
li.u-default
	a.Dialog-btn.u-button
		@extends .u-button.u-default
li.u-success
	a.Dialog-btn.u-button
		@extends .u-button.u-success

@media screen and (max-width: 600px) {
  .Dialog {
  	width 80%
  	left 10%
  }
}


@keyframes caida {
  from { 
  	top 0 
  }
  to { 
  	top arriba 
  }
}
