<div class="PostIt-botonera">
	<!-- BTN DESHACER -->
	<div lk-button class="PostIt-btn u-button u-raised u-info fa fa-undo" ng-show="dpi.estaSeleccionado()" ng-hide="!dpi.estaSeleccionado()" ng-click="dpi.cancelar()"></div>

	<!-- BTN GUARDAR -->
	<div lk-button class="PostIt-btn u-button u-fadein u-success u-raised fa fa-check" ng-show="dpi.estaSeleccionado()" ng-hide="!dpi.estaSeleccionado()" ng-click="dpi.guardar()">
	</div>

	<!-- BTN ELIMINAR -->
	<div lk-button class="PostIt-btn u-button u-fadein u-danger u-raised fa fa-trash-o" ng-show="dpi.mostrarEliminar()" ng-hide="dpi.ocultarEliminar()" ng-click="dpi.eliminando=true" /></div>

</div>

<!-- TEXTO DE LA NOTA -->
<div class="PostIt-texto u-transparent" ng-hide="dpi.estaSeleccionado()" ng-show="!dpi.estaSeleccionado()" ng-click="dpi.editar()">
	{{post.nota}} 
</div>
<form>
	<textarea id="{{post.id}}"class="PostIt-texto" name="nota" ng-model="dpi.postItEdit.nota" ng-hide="!dpi.estaSeleccionado()" ng-show="dpi.estaSeleccionado()" >
	</textarea>
</form>

<div class="PostIt-modal MsgModal" ng-show="dpi.eliminando" ng-hide="!dpi.eliminando">
	<div class="MsgModal-msg">
		¿Realmente quieres eliminarlo definitivamente? 
		<ul>
			<li><a class="MsgModal-btn u-button u-danger" ng-click="dpi.eliminar()">  
				<i class="fa fa-remove"></i> Eliminar
			</a></li>
			<li><a class="MsgModal-btn u-button u-success" ng-click="dpi.eliminando=false"> 
				<i class="fa fa-undo"></i> Cancelar
			</a> </li>
		</ul>
	</div>
</div>
