//cartas.styl
ancho = 250px
fuente = 'Indie flower', "Serif"
color-fondo = #FFE271
.PostIt-contenedor
	text-align center
	line-height ancho
.PostIt
	background-color color-fondo
	box-shadow 0 2px 10px rgba(#000,0.26)
	display inline-block
	font-family fuente
	font-weight bold
	height ancho
	margin 0 //.5em .2em 32px .3em
	padding 0 !important
	position relative
	text-align center
	width ancho
/*	figure
		background-color color-fondo
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		z-index 0
		img
			background-color color-fondo
			border-radius 2em
			box-shadow sombra
			display none
			width 100%
*/
				@css {
				.PostIt:before {
					content: "";
					position: absolute;
					left: 0;
					top: 100%;
					width: 100%;
					height: 16px;
					background-image: url("/img/shadow.png");
				}
			}
.PostIt-texto
	background transparent
	border 0
	cursor  pointer
	display inline-block
	font-family fuente
	height ancho
	left 0
	padding 1em
	position absolute
	top 0
	width ancho
	z-index 1
	&:focus
		cursor auto
		border-radius 0 !important
		background rgba( #fff, 0.5)
	&.u-transparent
		background transparent
		border-radius 1em
		text-decoration none
		border 0
		&.u-transparent:hover
			cursor pointer
.PostIt-botonera
	color white
	margin 2px 2px 0 0
	position absolute
	right 10%
	top 90%
	z-index 2
	.PostIt-btn
		@extends .u-button 
		@extends .u-fadein
		@extends .u-raised
		height 2em
		line-height 2em
		font-size 24px
		width 2em
.u-bubble
	position absolute
	top 40%
	right 10%
	margin 2px 2px 0 0
	z-index 99
	width 80%
	height 100px
.PostIt-add
	@extends .u-button.u-success
	@extends .u-fadein
	@extends .u-raised

color-placeholder= #444
weight-placeholder = 600
::-webkit-input-placeholder {
	color: color-placeholder;
	font-weight: weight-placeholder;
}

:-moz-placeholder { /* Firefox 18- */
 	color: color-placeholder;  
	font-weight: weight-placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: color-placeholder;  
	font-weight: weight-placeholder;
}

:-ms-input-placeholder {  
	color: color-placeholder;  
	font-weight: weight-placeholder;
}
