<!-- TEXTO -->
<form>
<textarea class="PostIt-texto" name="nota" rows="4" ng-model="dpi.postItEdit.nota" ng-show="!dpi.haySeleccionado()" ng-hide="dpi.haySeleccionado()">
</textarea>
</form>
<div class="PostIt-botonera">
	<!-- BTN AÑADIR -->
	<div class="PostIt-btn u-button u-fadein u-raised u-success fa fa-plus" ng-show="!dpi.haySeleccionado()" ng-hide="dpi.haySeleccionado()" ng-click="dpi.guardar()"></div>
</div>

<!-- IMG FONDO -->
<figure>
	<img class="PostIt-img" src="/img/icons/{{imagen}}.svg"/>
</figure>
