<div class="Experiencia-contenedor u-contenedor">
	<h1 class="Experiencia-titulo u-titulo">
		Experiencia
	</h1>
	<h2 class="Experiencia-titulo">
		¿Qué experiencia quiero crear?
		<!--img class="Experiencia-icon" alt="Experiencia" src= /-->
	</h2>
	<div class="Experiencia-icon"></div>
	<div class="Experiencia-item">
		<div class="PostIt">
			<textarea class="PostIt-texto" name="tipo" id="tipo" cols="30" rows="10" placeholder="Indica aquí qué TIPO DE EXPERIENCIA quieres que vivan tus alumnos" ng-model="exp.mazo.postIts[0].nota"></textarea>
		</div>
	</div>
	<div class="Experiencia-item">
		<div class="PostIt">
			<textarea class="PostIt-texto" name="tipo" id="tipo" cols="30" rows="10" placeholder="Indica qué PIENSA y qué SIENTE el alumno" ng-model="exp.mazo.postIts[1].nota"></textarea>
		</div>
	</div>
	<div class="Experiencia-item">
		<div class="PostIt">
			<textarea class="PostIt-texto" name="tipo" id="tipo" cols="30" rows="10" placeholder="Indica aquí qué quieres que VEA o ESCUCHE tu alumno" ng-model="exp.mazo.postIts[2].nota"></textarea>
		</div>
	</div>
	<div class="Experiencia-item">
		<div class="PostIt">
			<textarea class="PostIt-texto" name="tipo" id="tipo" cols="30" rows="10" placeholder="Indica qué es LO QUE QUIERE el alumno" ng-model="exp.mazo.postIts[3].nota"></textarea>
		</div>
	</div>
</div>
