.Experiencia-contenedor
	display block
	width 100%
	min-height 120px
	vertical-align top
	text-align center
	.Experiencia-titulo
		display block
		top 0
	.Experiencia-icon
		position relative
		margin-left auto
		margin-right auto
		// display block
		display block
		width 250px
		height 250px
		//top 240px
		//left 50%
		//z-index -1
	.Experiencia-item
		display inline-block
		// width 49% !important
		//min-width 125px
		//height 250px
		margin .5em 0 0 1em
		//background rgba(255,255,255,0.3)
	.Experiencia-pregunta
		font-weight bold
		text-align left
		width 250px
	.PostIt-contenedor
		//position relative
		margin-left auto
		margin-right auto
		width 250px
		//centrado_vertical()
	.Experiencia-text
		width 100%
		height 90%
