motivadores-color=#f06162
.Motivadores-contenedor
	@extends .Carta-contenedor
.Motivadores-item
	color u-mas-brillo(motivadores-color, -40%)// #2a547b
	.Carta
		carta-color(motivadores-color)
		&:hover
			carta-color(u-mas-brillo(motivadores-color,5%))
	
