success-shadow = #006D28
success-dark = #098D48
success-light = #109D58
success-transparent = rgba(9,141,72,.5)

warning-shadow =#DE3702
warning-dark = #EE4712
warning-light = #FE5722
warning-transparent= rgba(238,71,18,.5)

danger-shadow = #c11304
danger-dark = #e13324
danger-light = #F14334
danger-transparent = rgba(225,51,36,.5)

info-shadow = #2588CB 
info-dark = #3598DB
info-ligth = #2588CB
info-transparent = rgba(53,152,219,.5)

primary-shadow = #2266D5 
primary-dark = #3276E5
primary-light = #4286F5
primary-transparent= rgba(50,118,229,.5)

sombra = 5px 5px 3px 0px rgba(50,50,50,.5)
sombra-clara = 5px 5px 3px 0px rgba(50,50,50,.2)
sombra_fuerte = 6px 6px 3px 0px rgba(20,20,20,.6)

color-txt-menu= #000 //#599FB2
alto-menu=60px
.u-hide
	background red
	display none !important
centrado_vertical()
	position relative
	top 50%
	transform translateY(-50%)
*
	box-sizing border-box
figure
p
	margin 0
.u-titulo 
	color color-txt-menu !important
	display block
	font-family Muli
	font-weight bold
	left 0
	margin 0 alto-menu
	padding 0 
	position fixed
	right 0
	text-align center
	text-shadow 3px 3px rgba(#FFF,.3)
	top 0
	z-index 9
.u-contenedor	
	margin-top 3em

