u-mas-brillo( c, p)
	lightness( c, lightness(c)+p)

// ---  COLORES

// Primary
primary-color = #3af//666//1E8DD4// 00BCD4
secondary-color =#8b8b8b//13DB7B
action-color = #F06162 //FF5722//FF7A00
text-color = #333

primary-color-light = u-mas-brillo(primary-color,20%) // #B2EBF2 //B2EBF2
primary-color-dark = u-mas-brillo(primary-color,-10%)//#0097A7
primary-color-shadow = u-mas-brillo(primary-color, -20%)

secondary-color-light = u-mas-brillo(secondary-color,40%) // #B2EBF2 //B2EBF2
secondary-color-dark = u-mas-brillo(secondary-color,-10%)//#0097A7
secondary-color-shadow = u-mas-brillo(secondary-color, -20%)

action-color-light = lightness( action-color, 90%) //#FFB74D//FFCCBC
action-color-dark = lightness( action-color, 30%)//#F57C00

//dark

sombra = 5px 5px 3px 0px rgba(primary-color-shadow,.5)
sombra-clara = 5px 5px 3px 0px rgba(primary-color-shadow,.2)
sombra-fuerte = 6px 6px 3px 0px rgba(primary-color-shadow,.6)

// Sucess
success-color = #6ac24a//009E1C
success-color-shadow = u-mas-brillo(success-color, - 20%)// #006D28
success-color-light = u-mas-brillo( success-color, + 5%)// #109D58
success-color-dark = u-mas-brillo( success-color, - 5%)//#098D48

// Warning
warning-shadow =#DE3702
warning-dark = #EE4712
warning-light = #FE5722
warning-transparent= rgba(238,71,18,.5)

// Danger
color-danger=#ff7163
color-danger-shadow = u-mas-brillo(color-danger, - 20%)// #006D28
color-danger-light = u-mas-brillo( color-danger, + 5%)// #109D58
color-danger-dark = u-mas-brillo( color-danger, - 5%)//#098D48

// Info
info-color= #9ACEF0
info-color-shadow = u-mas-brillo(info-color, - 20%)// #006D28
info-color-light = u-mas-brillo( info-color, + 5%)// #109D58
info-color-dark = u-mas-brillo( info-color, - 5%)//#098D48

// Primary
primary-shadow = #2266D5 
primary-dark = #3276E5
primary-light = #4286F5
primary-transparent= rgba(50,118,229,.5)

// --- TAMAÑOS
alto-menu=64px // 44.8
ancho-icons=125px
ancho-menu=250px

// --- FUENTES DE LETRA
fuente-extra = "Indie Flower"
fuente-normal = "Muli"
fuente-titulos = "Roboto", "Sans serif"


figure
p
	margin 0

// Utilidades
.u-hide
	display none !important
.u-raised
	border-radius 50%
.u-fadein
	animation fadein .4s
.u-icon
	width ancho-icons

centrado_vertical()
	position relative
	top 50%
	transform translateY(-50%)
*
	box-sizing border-box
body
	font-size 16px
	margin 0
	color text-color
.u-contenedor	
	margin-top 1em
.u-titulo 
	color white  !important
	overflow hidden
	display block
	font-family fuente-titulos
	font-size 24px
	left 0
	line-height alto-menu
	margin 0 (alto-menu + 1em)
	padding 0 
	position fixed
	text-align left
	text-transform capital
	top 0
	z-index 9
.u-hidden
	display none !important
@media screen and (max-width: 600px) {
  .u-titulo {
  	font-size 1em
  }
}


@keyframes fadein {
  from {
    opacity 0
  }

  to {
    opacity 1
  }
}
