@import 'nib'
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'

@import 'common.styl'
@import './../lk/bubble/bubble.styl'
@import './../lk/button/button.styl'
@import './../lk/canvas/canvas.styl'
@import './../lk/carta/carta.styl'
@import './../lk/componentes/componentes.styl'
@import './../lk/comportamientos/comportamientos.styl'
@import './../lk/disparadores/disparadores.styl'
@import './../lk/experiencia/experiencia.styl'
//@import './../lk/footer/footer.styl'
@import './../lk/mecanicas/mecanicas.styl'
@import './../lk/menu/menu.styl'
@import './../lk/menuLateral/menuLateral.styl'
@import './../lk/motivadores/btnInclMotivador/btnInclMotivador.styl'
@import './../lk/motivadores/motivadores.styl'
@import './../lk/objetivos/objetivos.styl'
@import './../lk/postIt/postIt.styl'
@import './../lk/viewContainer/viewContainer.styl'
