@import 'nib'

.u-titulo 
	background-color rgba(#000, .5)
	color rgba( #FFF,.8) !important
	font-family Muli
	font-weight bold
	left 50%
	margin 0
	position fixed
	text-shadow 3px 3px rgba(#000,.3)
	top 0
	width 100%
	z-index 9
	transform translateX(-50%)
.u-contenedor	
	margin-top 3em

@import 'common.styl'
@import './../lk/btnCarta/btnCarta.styl'
@import './../lk/bubble/bubble.styl'
@import './../lk/button/button.styl'
@import './../lk/canvas/canvas.styl'
@import './../lk/carta/carta.styl'
@import './../lk/cartas/cartas.styl'
@import './../lk/componentes/componentes.styl'
@import './../lk/comportamientos/comportamientos.styl'
@import './../lk/disparadores/disparadores.styl'
@import './../lk/experiencia/experiencia.styl'
@import './../lk/footer/footer.styl'
@import './../lk/mecanicas/mecanicas.styl'
@import './../lk/menuLateral/menuLateral.styl'
@import './../lk/motivadores/btnInclMotivador/btnInclMotivador.styl'
@import './../lk/motivadores/motivadores.styl'
@import './../lk/objetivos/objetivos.styl'
@import './../lk/postIt/postIt.styl'
@import './../lk/viewContainer/viewContainer.styl'


// fadein
@keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}

@keyframes toOn { from { left: 0; } to { left: 48px; }}
@-moz-keyframes toOn { from { left: 0; } to { left: 48px; }}
@-webkit-keyframes toOn { from { left: 0; } to { left: 48px; }}
@-ms-keyframes toOn { from { left: 0; } to { left: 48px; }}
@-o-keyframes toOn { from { left: 0; } to { left: 48px; }}

@keyframes toOff { from { left: 48px; } to { left: 0; }}
@-moz-keyframes toOff { from { left: 48px; } to { left: 0; }}
@-webkit-keyframes toOff { from { left: 48px; } to { left: 0; }}
@-ms-keyframes toOff { from { left: 48px; } to { left: 0; }}
@-o-keyframes toOff { from { left: 48px; } to { left: 0; }}

/*
@keyframes intro_w80 { from { width: 0; } to { width: 80%; }}
@-moz-keyframes intro_w80 { from { width: 0; } to { width: 80%; }}
@-webkit-keyframes intro_w80 { from { width: 0; } to { width: 80%; }}
@-ms-keyframes intro_w80 { from { width: 0; } to { width: 80%; }}
@-o-keyframes intro_w80 { from { width: 0; } to { width: 80%; }}
*/
@media screen and (max-width: 600px) {
  h1 {
  	font-size 1.5em
  }
    
}
