//cartas.styl
ancho = 250px
.Carta-contenedor
	text-align left
.Carta
	transition .3s all
	border-radius 2em
	display inline-block
	height ancho
	margin 0.5em 0.5em 32px 0
	padding 0 !important
	position relative
	box-shadow sombra
	width ancho
	:hover
		cursor pointer
.Carta-interior
	left 0
	margin 1em
	position absolute
	top 0
	border-radius 2em
	width (ancho - 32px)
	height (ancho - 32px)
	z-index 1
p
	display block
	font-family "Muli", "Helvetica Neue", Arial
	left 5%
	position absolute
	text-align center
	width 90%
	z-index 3
	&.Carta-nombre
		top 1.5em
		height 10%
		font-weight bold
	&.Carta-descripcion
		bottom 1em
		font-size .9em
figure
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 2
	img
		width 100%
.Carta-botonera
	position absolute
	min-width 40px
	height 48px !important
	top 90%
	right 10%
	margin 2px 2px 0 0
	z-index 3
.Carta-btn
	&.u-checked
		display inline-block
		width 48px 
		height 48px
		float right
		color green
		margin-right 2em
		box-shadow sombra-clara
		background rgba(#fff, .2)
		border-radius 50%
		//&:before
&.u-deactivated
	background #666666 !important
	.Carta-interior
		background #E0E0E0 !important
	p
		color black !important	
	.Carta-btn
		display none
