<!-- NOMBRE -->
<p class="Carta-nombre">
	{{carta.nombre}}
</p>
<p class="Carta-descripcion">
	{{carta.descripcion}}
</p>

<div class="Carta-botonera">
	<!-- BTN ENCENDER -->
	<img class="Carta-btn u-button u-fadein u-success u-raised" alt="250x250" src="/img/icons/check.svg" ng-show="!c.estaSeleccionada()" ng-hide="c.estaSeleccionada()" ng-click="c.incluir()"/>

	<!-- BTN APAGAR -->
	<img class="Carta-btn u-button u-fadein u-danger u-raised" alt="250x250" src="/img/icons/trash.svg" ng-show="c.estaSeleccionado()" ng-hide="!c.haySeleccionada()" ng-click="c.excluir()" />
</div>

<!-- IMG CARTA -->
<figure>
	<img class="Carta-img" src="/img/cartas/{{c.imagen}}.svg"/>
</figure>

