//cartas.styl
ancho = 16em
carta-color(c)
	border .7em solid c
	background u-mas-brillo(c, 20%)

carta-color-important( c)
	border .7em solid c !important
	background lightness(c, 90%) !important

.Carta-contenedor
	//margin-left 1em
	text-align center
.Carta
	transition .3s all
	border-radius 2em
	display inline-block
	height ancho
	margin 0.5em 0.5em .5em 0
	padding 0 !important
	position relative
	width ancho
	box-shadow 0 2px 5px rgba(secondary-color-shadow,0.26)
	border-radius 2em
	&:hover
		box-shadow 0 2px 10px rgba(secondary-color-shadow,0.5)
		cursor pointer
.Carta-interior
	left 0
	margin 1em
	position absolute
	top 0
	border-radius 2em
	width (ancho - 32px)
	height (ancho - 32px)
	z-index 1
p
	display block
	font-family "Muli", "Helvetica Neue", Arial
	left 5%
	position absolute
	text-align center
	width 90%
	z-index 3
	&.Carta-nombre
		top 1.5em
		height 10%
		font-weight bold
	&.Carta-descripcion
		bottom .1em
		font-size .9em

figure
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 2
	img
		width 100%
.Carta-botonera
	background transparent
	height 48px !important
	margin 2px 2px 0 0
	min-width 40px
	position absolute
	right 0
	top -1em
	z-index 3
.Carta-btn
	@extends .u-fadein
	&.u-checked
		background success-color
		color white
		display inline-block
		float right
		height 2em
		line-height 2em
		margin-right .5em
		text-align center
		width 2em
		font-size 24px
&.u-deactivated
	carta-color-important(#666)
	&:hover
		carta-color-important(#888)
	.Carta-interior
		background #E0E0E0 !important
	p
		color black !important	
	.Carta-btn
		display none
