.Mecanicas-contenedor
	margin-left 1em
	text-align center
.Mecanicas-item
	padding 4px 0 4px 0 !important
	color #308D45
	.Carta
		background #81c990
	.Carta-interior
		background #cfe6c1
.Mecanicas-titulo 
	color #81C990
	
