mecanicas-color=#81c990

.Mecanicas-contenedor
	margin-left 1em
	text-align center
.Mecanicas-item
	color u-mas-brillo(mecanicas-color, -40%)// #2a547b
	.Carta
		carta-color(mecanicas-color)
		&.u-seleccionable:hover
			carta-color(u-mas-brillo(mecanicas-color,5%))
	
