.Mecanicas-lista
	display inline-block
	min-width 125px
	padding 0
	margin 0
	text-align center
	.Mecanicas-titulo
		display block
	.Mecanicas-item
		display inline-block
		padding 4px 1px !important
		img
			.u-lg
				width 250px
			.u-sm
				width 125px

@media screen and (max-width: 2000px)
	.Mecanicas-lista
		width 1100px
	.u-sm
		display none

@media screen and (max-width: 1450px)
	.Mecanicas-lista
		width 780px
	.u-sm
		display none


@media screen and (max-width: 1250px)
	.Mecanicas-lista
		width 780px
	.u-lg
		display none
	.u-sm
		display inline-block

@media screen and (max-width: 1000px)
	.Mecanicas-lista
		width 700px
	.u-lg
		display none
	.u-sm
		display inline-block

@media screen and (max-width: 900px)
	.Mecanicas-lista
		width 520px
	.u-lg
		display none
	.u-sm
		display inline-block

@media screen and (max-width: 800px)
	.Mecanicas-lista
		width 400px
	.u-lg
		display none
	.u-sm
		display inline-block

@media screen and (max-width: 700px)
	.Mecanicas-lista
		width 260px
	.u-lg
		display none
	.u-sm
		display inline-block

@media screen and (max-width: 471px)
	.Mecanicas-lista
		width 128px
	.u-lg
		display none
	.u-sm
		display inline-block
