.Disparadores-contenedor
	margin-left 1em
	text-align center
	//.Disparadores-titulo
	//.Disparadores-lista
	//.Disparadores-nuevo
.Disparadores-item
	padding 4px 0 4px 0 !important
	color #4D2F04
	.Carta-img
		background #f9a95e
.Disparadores-titulo
	color #116571