disparador-color=#f9a95e
.Disparadores-contenedor
	margin 0
	text-align center
.Disparadores-item
	padding 4px 0 4px 0 !important
	color u-mas-brillo(disparador-color, -40%)// #2a547b
	.Carta
		carta-color(disparador-color)
		&:hover
			carta-color(u-mas-brillo(disparador-color,5%))
