.Disparadores-contenedor
	margin-left 1em
	text-align center
.Disparadores-item
	padding 4px 0 4px 0 !important
	color #4D2F04
	.Carta
		background #f9a95e
	.Carta-interior
		background #f9c487
.Disparadores-titulo
	color #116571