<!-- menuLateral.html -->
<div class="MenuLateral-container" ng-hide="!submn.desplegado()" ng-show="submn.desplegado()">
	<ul class="MenuLateral" ng-class="{'desplegado': submn.desplegado()}" >
		<li class="MenuLateral-header">
			<div class="MenuLateral-logo">
				<img alt="Lúdiko" src="/img/icons/logo.png" width="48" height="48"/>
			</div>
			<div class="MenuLateral-logo-text">
				Gamification Thinking
			</div>
		</li>
		<li class="MenuLateral-item u-separate-bottom">
			<a role="menuitem" class="MenuLateral-btn u-action-call" tabindex="-1" ng-disabled="!submn.estaCompletado()" ng-click="updateView()">
				<div class="MenuLateral-text">
					<i class="fa fa-file-pdf-o MenuLateral-icon"></i>
					Guardar en PDF
				</div>
			</a>
        </li>
		<li class="MenuLateral-item" 
			ng-repeat="paso in submn.pasos"
			ng-class="{'u-selected': submn.estaActivo(paso.nombre), 'u-unselected': submn.estaActivo(paso.nombre)}" 
			ng-click="submn.irSiguiente( paso.nombre)">
			<a role="menuitem" class="MenuLateral-btn" tabindex="-1" >
				<div class="MenuLateral-text">
					<i class="fa MenuLateral-icon {{'fa-'+paso.icon}}"></i>
					{{paso.nombre}}
				</div>
			</a>
        </li>
		<li class="MenuLateral-item u-separate-top" ng-show="submn.estaActivoModoSeleccion()" ng-hide="!submn.estaActivoModoSeleccion()">
			<a role="menuitem" class="MenuLateral-btn btn" tabindex="-1"  ng-click="submn.cambiaModoSeleccion()">
				<div class="MenuLateral-text">
					<i class="fa MenuLateral-icon" ng-class="{'fa-check-square': submn.estaEnModoSeleccion(), 'fa-square-o': !submn.estaEnModoSeleccion()}"></i>
					Modo selección
					</div>
			</a>
        </li>
    </ul>
    <div class="MenuLateral-background" ng-click="submn.close()"></div>
</div>