ancho-menu= 60px
alto-menu =400px
fondo-menu= rgba(#000,.5)
color-txt-menu= #333
posicion()
	top 10em
	left 0px
	
// menu-lateral.styl
.MenuLateral-container
	position fixed
	display block
	width ancho-menu
	height alto-menu
	background fondo-menu
	-webkit-transition all .3s
	z-index 9
	posicion()
.MenuLateral
	position absolute
	display block
	top 0
	left 0
	padding 0px
.MenuLateral-item
	position relative
	display block
	span
		color color-txt-menu
	.MenuLateral-btn
		padding 0
	.MenuLateral-logo
		top 0
		height ancho-menu
		width ancho-menu
		-webkit-transition 1s
	.MenuLateral-logo:hover
		-webkit-transform rotate(360deg)			
	.MenuLateral-icon
		margin-left ((ancho-menu - 45 )/2)px
		margin-top 5px
		height 45px
		width 45px
	.MenuLateral-text
		display none
		color white

.MenuLateral-container:hover
	width 200px
	.MenuLateral-text
		display inline
/*
@media screen and (orientation: landscape)
	.MenuLateral-portrait
		display none !important

@media screen and (orientation: portrait)
	.MenuLateral-landscape
		display none !important
*/